* {
    margin:0;
}

#navbar {
    background-color: #009688;
    margin:0px;
    position: relative;
    top: 0;
}

.product {
    display: inline-block;
    text-align: center;
    width: 300px;
    padding-top: 30px;
    list-style-type: none;
}

.productPage {
    display: inline-block;
    text-align: center;
    width: 60%; 
    padding-top: 30px;
    margin: 30px 10px 30px 80px;
    align-items: center;
}

.productDetails {
    list-style-type: none;
}

.description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
}

.product-name {
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

a:link {
    text-decoration: none;
}



#title {
    padding: 10px 20px 10px 25px;
    font-family: fantasy;
    color: white;
}

#loginForm {
    position: absolute;
    left: 80%;
    top: 5%;
    margin-top: 18px;
}

#cat-label {
  font: bold 20px fantasy;
}

#username {
    border-radius: 3px;
    height: 20px;
    width: 150px;
}

#password {
    border-radius: 3px;
    height: 20px;
    width: 150px;
    margin-top: 5px;
}

#submit {
    margin: 0px 8px;
    border-radius: 5px;
    position: relative;
}

#search-cat-form {
    position: absolute;
    top: 10%;
    left: 37%;
}

#cat-label {
  font: bold 20px fantasy;
  margin-right: 20px;
  color: white;
}

#search-label {
    font: bold 20px fantasy;
    color: white;
    margin-left: 30px;
}

#google {
    position: relative;
    left: 81%;
}

.form {
    text-align: center; 
    display: inline-block;
    float: right;
    margin-top: 100px;
    margin-right: 15%;
}

