#navbar {
    background-color: #607D8B;
    border-radius: 10px;
}

#title {
    padding: 10px 20px 10px 25px;
    font-family: fantasy;
    color: lightgray;
}

#loginForm {
    position: absolute;
    left: 80%;
    top: 5%;
}

#cat-label {
  font: bold 20px fantasy;
}

#username {
    border-radius: 3px;
    height: 20px;
    width: 150px;
}

#password {
    border-radius: 3px;
    height: 20px;
    width: 150px;
    margin-top: 5px;
}

#submit {
    margin: 0px 8px;
    border-radius: 5px;
    position: relative;
}
